language: c

sudo: required
env:
  global:
    - LUAROCKS=2.2.2
  matrix:
    - LUA=lua5.1
    - LUA=lua5.2
    - LUA=lua5.3
    - LUA=luajit
    
os:
  - linux
  - osx


branches:
  only:
    - master

before_install:
  - source .travis/setenv_lua.sh
  - bash .travis/setup_uv.sh
  - git submodule update --init --recursive
  - git submodule update --recursive

install: 
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sudo $HOME/.lua/luarocks make rockspecs/openssl-scm-1.rockspec OPENSSL_DIR="/usr/local/opt/openssl"; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo $HOME/.lua/luarocks make rockspecs/openssl-scm-1.rockspec; fi'

script: 
  - cd test
  - curl https://raw.githubusercontent.com/bluebird75/luaunit/master/luaunit.lua > luaunit.lua
  - lua test.lua

notifications:
  email:
    on_success: change
    on_failure: always
